<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
    id          = "ar.com.ingverger.pruebas"
    versionCode = "1"
    version     = "0.0.2" >

	<!-- versionCode is optional and Android only -->

  <name>Pruebas</name>

  <description>
	  Preparacion de pruebas, ensayos, verificaciones de comportamiento
  </description>

	<author href="http://www.ingverger.com.ar" email="ingverger@gmail.com" >
		Willie Verger Juegos de Ingenio
	</author>

    <platform name="android">
        <allow-intent href="market:*" />
		<icon   src="pgs/res/games_controller_white_100.png" />
		<icon   src="google-logo-white.png" />
		<icon   src="Roboto-Light.ttf" />
		<icon   src="Roboto-Regular.ttf" />
    </platform>

</widget>
